.grid-layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header-sidebar quick-access"
    "header-sidebar main"
    "footer footer";
  grid-template-rows: 1fr 4fr 60px;
  grid-template-columns: 1fr 5fr;
}

.header-sidebar {
  grid-area: header-sidebar;
  background-color: lightskyblue;
}

.quick-access {
  grid-area: quick-access;
}

.main {
  grid-area: main;
  background-color: lightgray;
}

footer {
  grid-area: footer;
  background-color: rgb(212, 212, 212);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
